<%= form_tag('/', method: 'get') do %>
  <div class="form-group">
    <%= label_tag(:id, 'Select Airport: ') %>
    <%= select_tag(:id, options_for_select(Airport.order(:facility_name).pluck(:facility_name, :id), params[:id])) %>
    <%= submit_tag('Search', class: 'btn btn-primary') %>
  </div>
<% end %>

<% if defined?(@airport) %>
  <h3>Selected Airport</h3>
  <div class="card">
    <h5 class="card-header"><%= @airport.facility_name %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= @airport.site_type %></h5>
      <p class="card-text">
        Site Number: <%= @airport.site_number %><br>
        Location ID: <%= @airport.location_id %><br>
        Effective Date: <%= @airport.effective_date.strftime('%m/%d/%Y') %><br>
        Region: <%= @airport.region %><br>
        State: <%= @airport.state %><br>
        State Name: <%= @airport.state_name %><br>
        County: <%= @airport.county %><br>
        County State: <%= @airport.county_state %><br>
        City: <%= @airport.city %><br>
        Latitude: <%= @airport.lat.round(2) %><br>
        Longitude: <%= @airport.lon.round(2) %><br>
      </p>
    </div>
  </div>

  <br>
  <h3>Nearest Airports within 500km</h3>

  <% @airport.destinations.select('airports.*, airport_distances.distance').merge(AirportDistance.closest(3)).merge(AirportDistance.within(500)).each do |airport| %>

    <div class="card">
      <h5 class="card-header"><%= airport.facility_name %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= airport.site_type %></h5>
        <p class="card-text">
          Site Number: <%= airport.site_number %><br>
          Location ID: <%= airport.location_id %><br>
          Effective Date: <%= airport.effective_date.strftime('%m/%d/%Y') %><br>
          Region: <%= airport.region %><br>
          State: <%= airport.state %><br>
          State Name: <%= airport.state_name %><br>
          County: <%= airport.county %><br>
          County State: <%= airport.county_state %><br>
          City: <%= airport.city %><br>
          Latitude: <%= airport.lat.round(2) %><br>
          Longitude: <%= airport.lon.round(2) %><br>
          Distance: <%= (airport.distance / 1_000).round %>km<br>
        </p>
      </div>
    </div>
    <br>

  <% end %>
<% end %>
